<div >
    <mat-toolbar class="navbar" color="primary">
        <mat-toolbar-row>
                <div (click)="sidenav.toggle()">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/2830/2830305.png" alt="">
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="vertical-menu">
            <mat-nav-list>
                <mat-list>
                    <mat-list-item >
                        <div matListItemTitle>Perfil</div>
                      </mat-list-item>
                    <mat-list-item>
                      <div matListItemTitle>Resumen</div>
                    </mat-list-item>
                    <mat-list-item >
                        <div matListItemTitle>Pedidos</div>
                      </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
            </mat-nav-list>
            <span class="menu-logout">Cerrar sesión</span>
        </mat-sidenav>
        <mat-sidenav-content> 
            <div style="height: 90.5vh"> 
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- <router-outlet *ngIf="!auth"></router-outlet> -->
