<div class="login-container">
    <div class="login-content">
        <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>email</mat-icon>
                    <input formControlName="email"  type="email" matInput placeholder="Email *">
                    <mat-error *ngIf="f.email.touched && f.email.errors || submitted && f.email.errors " class="invalid-feedback">
                        <span *ngIf="f.email.errors.required">Email is required</span>
                        <span *ngIf="f.email.errors.pattern">Must be a valid email address</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input formControlName="password" type="password" placeholder="Password *" autocomplete="false" matInput>
                    <mat-error *ngIf="f.password.touched && f.password.errors || submitted && f.password.errors " class="invalid-feedback">
                        <span *ngIf="f.password.errors.required">Password is required</span>
                        <span *ngIf="f.password.errors.pattern">Must be a valid</span>
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="message != ''" class="invalid-feedback error-message">
                    <span >{{message}}</span>
                </mat-error>
                <div class="signup-submit">
                    <button class="btn-submit" type="submit" mat-raised-button color="primary">SEND</button>
                </div>
            </form>
    </div>
</div>