<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1 class="form-title">Actualizar perfil</h1>
    <div class="profile-picture-container">
        <img [src]="profilePicture" alt="Imagen de perfil" (click)="fileInput.click()">
        <input type="file" #fileInput (change)="onFileSelected($event)">
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input formControlName="email" matInput placeholder="Ingrese su correo electrónico">
        <mat-error *ngIf="f.email.touched && f.email.errors || submitted && f.email.errors " class="invalid-feedback">
            <span *ngIf="f.email.errors.required">El email es un campo requerido</span>
            <span *ngIf="f.email.errors.pattern">Debe ser una dirección de email correcta</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input formControlName="newPassword" matInput [type]="hidePasswordTwo ? 'password' : 'text'"
            placeholder="Ingrese su nueva contraseña">
        <button mat-icon-button matSuffix (click)="hidePasswordTwo = !hidePasswordTwo"
            [attr.aria-label]="hidePasswordTwo ? 'Mostrar contraseña' : 'Ocultar contraseña'">
            <mat-icon>{{ hidePasswordTwo ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="f.newPassword.touched && f.newPassword.errors || submitted && f.newPassword.errors "
            class="invalid-feedback">
            <span *ngIf="f.newPassword.errors.required">La nueva contraseña es un campo requerido</span>
            <span *ngIf="f.newPassword.errors.pattern">La contraseña debe tener al menos 8 caracteres, incluyendo al
                menos una letra mayúscula, una letra minúscula y un número</span>
        </mat-error>
    </mat-form-field>
    <mat-error class="invalid-feedback" *ngIf="error != ''">
        <span>{{error}}</span>
    </mat-error>
    <div class="form-submit">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary">Guardar</button>
    </div>
</form>